{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <h1>Password Reset Complete</h1>
    <p>You have successfully reset your password</p>

<!--    <a href="{% url 'Leads:Login' %}" type="button"><h4>Login now</h4></a>-->
<!--    <a href="{% url 'Leads:Login' %}" type="button"><h4>Login now</h4></a>-->
    <a href="{% url 'Leads:Login' %}"><button  class="w-full bg-blue-500 text-white hover:bg-blue-600 px-3 py-2 mt-3 rounded-md">Login</button></a>
</div>

{% endblock content %}